{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>afficher les types d'equipement</title>
{% endblock %}

{% block body %}
<h3>Déclinaison et/ou type d'equipement (catégorie)</h3>
<a class="btn btn-outline-success" href="/admin/type-equipement/add">ajouter un type d'equipement</a>
<br><br>

<table class="table">
    <thead class="thead-dark">
        <tr>
           <th>designation</th> <th>(id_type_equipement)</th><th>nombre d'equipements</th><th>opération</th>
        </tr>
    </thead>
    <tbody>
    {% if types_equipement | length >= 1 %}
        {% for ligne in types_equipement %}
           <tr>
                  <td>{{ ligne.libelle_type_equipement_sport }}</td>
                  <td>{{ ligne.id_type_equipement }}</td>
                   <td><span style="color: red">{{ ligne.nbr_equipements }}</span></td>
                  <td>
                      <a class="btn btn-outline-danger" href="/admin/type-equipement/edit?id_type_equipement={{ ligne.id_type_equipement_sport }}">editer</a>&nbsp;
                      <a class="btn btn-outline-warning" href="/admin/type-equipement/delete?id_type_equipement={{ ligne.id_type_equipement_sport }}">supprimer</a>
                  </td>
           </tr>
        {% endfor %}
    {% else %}
            <tr>
                  <td>
                      pas de type d'equipement
                  </td>
           </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}
